[Unit]
Description={{beat_type}}{% if beat_instance_name is defined %}-{{beat_instance_name}}{% endif %}
Documentation=https://www.elastic.co/products/beats
Wants=network-online.target
After=network-online.target

[Service]
User={{beat_user}}
Group={{beat_group}}

ExecStart={{ beat_path_home }}/bin/{{beat_type}} \
       -c {{ beat_path_conf }}/{{beat_cfg_file}}  \
       -path.home   {{ beat_path_home }} \
       -path.config {{ beat_path_conf }} \
       -path.data   {{ beat_path_data }} \
       -path.logs   {{ beat_path_logs }}

Restart=always


[Install]
WantedBy=multi-user.target
